<div class="large-8 large-centered medium-10 medium-centered small-12 columns">
  <div class="row">
    <div class="small-12 columns">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <legend>
          <strong>Sign in</strong>
        </legend>

        <div class="form-inputs">
          <%= f.input :email, autofocus: true, required: true %>
          <%= f.input :password, autocomplete: "off", required: true %>
          <%= f.check_box :remember_me %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Sign in" %>
        </div>
      <% end %>
    </div>
  </div>
  <%= render "users/shared/links" %>
</div>
