<div class="event-form">
  <div class="row">
    <div class="large-8 large-centered medium-10 medium-centered small-12 columns">
      <%= simple_form_for event,
              as: event,
              url: url do |f| %>
        <legend>
          <%= "#{action} your " %>
          <strong>
            Event
          </strong>
        </legend>

        <div class="form-inputs">
          <%= f.input :title, required: true, autofocus: true %>
          <%= f.input :event_type, collection: Event.event_types, default: Event.event_types.first %>
          <%= f.input :date, required: true, as: :datepicker, autocomplete: "off" %>
          <%= f.input :description, as: :text %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, action %>
        </div>
      <% end %>
    </div>
  </div>
</div>
