<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Calendar" %></title>
    <%= favicon_link_tag "calendar.png" %>

    <%= stylesheet_link_tag :application %>

    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="row large-8 small-12">
      <%= render "shared/navigation/navigation" %>
      <%= render "shared/messages" %>

      <%= yield %>
      <%= render "shared/footer" %>
    </div>

    <%= javascript_include_tag :application %>
  </body>
</html>
